In [63]:
import pandas as pd

In [2]:
data_folder1 = 'Data/mturkfitbit_export_3.12.16-4.11.16/Fitabase Data 3.12.16-4.11.16/'
data_folder2 = 'Data/mturkfitbit_export_4.12.16-5.12.16/Fitabase Data 4.12.16-5.12.16/'

In [3]:
df_activity_daily_part1 = pd.read_csv(data_folder1 + 'dailyActivity_merged.csv', header=0)
df_activity_daily_part2 = pd.read_csv(data_folder2 + 'dailyActivity_merged.csv', header=0)

In [4]:
df_activity_daily_part1.head(10)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,3/25/2016,11004,7.11,7.11,0.0,2.57,0.46,4.07,0.0,33,12,205,804,1819
1,1503960366,3/26/2016,17609,11.55,11.55,0.0,6.92,0.73,3.91,0.0,89,17,274,588,2154
2,1503960366,3/27/2016,12736,8.53,8.53,0.0,4.66,0.16,3.71,0.0,56,5,268,605,1944
3,1503960366,3/28/2016,13231,8.93,8.93,0.0,3.19,0.79,4.95,0.0,39,20,224,1080,1932
4,1503960366,3/29/2016,12041,7.85,7.85,0.0,2.16,1.09,4.61,0.0,28,28,243,763,1886
5,1503960366,3/30/2016,10970,7.16,7.16,0.0,2.36,0.51,4.29,0.0,30,13,223,1174,1820
6,1503960366,3/31/2016,12256,7.86,7.86,0.0,2.29,0.49,5.04,0.0,33,12,239,820,1889
7,1503960366,4/1/2016,12262,7.87,7.87,0.0,3.32,0.83,3.64,0.0,47,21,200,866,1868
8,1503960366,4/2/2016,11248,7.25,7.25,0.0,3.00,0.45,3.74,0.0,40,11,244,636,1843
9,1503960366,4/3/2016,10016,6.37,6.37,0.0,0.91,1.28,4.18,0.0,15,30,314,655,1850

In [5]:
df_activity_daily_part2.head(10)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
0,1503960366,4/12/2016,13162,8.50,8.50,0.0,1.88,0.55,6.06,0.0,25,13,328,728,1985
1,1503960366,4/13/2016,10735,6.97,6.97,0.0,1.57,0.69,4.71,0.0,21,19,217,776,1797
2,1503960366,4/14/2016,10460,6.74,6.74,0.0,2.44,0.40,3.91,0.0,30,11,181,1218,1776
3,1503960366,4/15/2016,9762,6.28,6.28,0.0,2.14,1.26,2.83,0.0,29,34,209,726,1745
4,1503960366,4/16/2016,12669,8.16,8.16,0.0,2.71,0.41,5.04,0.0,36,10,221,773,1863
5,1503960366,4/17/2016,9705,6.48,6.48,0.0,3.19,0.78,2.51,0.0,38,20,164,539,1728
6,1503960366,4/18/2016,13019,8.59,8.59,0.0,3.25,0.64,4.71,0.0,42,16,233,1149,1921
7,1503960366,4/19/2016,15506,9.88,9.88,0.0,3.53,1.32,5.03,0.0,50,31,264,775,2035
8,1503960366,4/20/2016,10544,6.68,6.68,0.0,1.96,0.48,4.24,0.0,28,12,205,818,1786
9,1503960366,4/21/2016,9819,6.34,6.34,0.0,1.34,0.35,4.65,0.0,19,8,211,838,1775

In [6]:
df_activity_daily = pd.concat([df_activity_daily_part1, df_activity_daily_part2])

In [9]:
df_activity_daily.describe()

,Id,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
count,1.397000e+03,1397.000000,1397.000000,1397.000000,1397.000000,1397.000000,1397.000000,1397.000000,1397.000000,1397.000000,1397.000000,1397.000000,1397.000000,1397.000000
mean,4.781210e+09,7280.898354,5.219434,5.192219,0.131481,1.397416,0.538461,3.193407,0.001704,19.679313,13.403006,185.372942,992.542591,2266.265569
std,2.384293e+09,5214.336113,3.994206,3.980077,0.703683,2.607480,0.867436,2.116869,0.007736,31.675878,26.401247,114.058601,313.297376,753.005527
min,1.503960e+09,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.320127e+09,3146.000000,2.170000,2.160000,0.000000,0.000000,0.000000,1.610000,0.000000,0.000000,0.000000,111.000000,729.000000,1799.000000
50%,4.445115e+09,6999.000000,4.950000,4.950000,0.000000,0.100000,0.200000,3.240000,0.000000,2.000000,6.000000,195.000000,1057.000000,2114.000000
75%,6.962181e+09,10544.000000,7.500000,7.480000,0.000000,1.830000,0.770000,4.690000,0.000000,30.000000,18.000000,262.000000,1244.000000,2770.000000
max,8.877689e+09,36019.000000,28.030001,28.030001,6.727057,21.920000,6.480000,12.510000,0.110000,210.000000,660.000000,720.000000,1440.000000,4900.000000

In [10]:
df_activity_daily['ActivityDate'] = pd.to_datetime(df_activity_daily['ActivityDate'], format='%m/%d/%Y')

In [11]:
df_activity_daily.sort_values('ActivityDate', ascending= True)

,Id,ActivityDate,TotalSteps,TotalDistance,TrackerDistance,LoggedActivitiesDistance,VeryActiveDistance,ModeratelyActiveDistance,LightActiveDistance,SedentaryActiveDistance,VeryActiveMinutes,FairlyActiveMinutes,LightlyActiveMinutes,SedentaryMinutes,Calories
165,4020332650,2016-03-12,5543,3.97,3.97,0.0,0.00,0.00,3.96,0.01,0,0,254,757,2990
197,4057192912,2016-03-12,0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0,0,0,1440,1777
166,4020332650,2016-03-13,3226,2.31,2.31,0.0,0.00,0.00,2.28,0.00,0,0,136,771,2480
198,4057192912,2016-03-13,0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0,0,0,1440,1777
199,4057192912,2016-03-14,8433,6.23,6.23,0.0,2.45,0.33,3.44,0.00,30,7,135,1268,2453
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246,2320127002,2016-05-12,2661,1.79,1.79,0.0,0.00,0.00,1.79,0.00,0,0,128,830,1125
215,2026352035,2016-05-12,8891,5.51,5.51,0.0,0.00,0.00,5.51,0.00,0,0,343,330,1364
153,1927972279,2016-05-12,0,0.00,0.00,0.0,0.00,0.00,0.00,0.00,0,0,0,966,1383
473,4445114986,2016-05-12,768,0.52,0.52,0.0,0.00,0.00,0.52,0.00,0,0,58,380,1212
939,8877689391,2016-05-12,8064,6.12,6.12,0.0,1.82,0.04,4.25,0.00,23,1,137,770,1849

In [12]:
import os
output_folder = "output/activity/"
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

# 2. 按照日期分组并循环
# 注意：确保 ActivityDate 已经是 datetime 类型，否则请先执行 pd.to_datetime
for date, group in df_activity_daily.groupby('ActivityDate'):
    
    # 将日期转为字符串作为文件名 (例如: 2016-04-12.csv)
    file_name = f"activity_{date.strftime('%Y-%m-%d')}.csv"
    file_path = os.path.join(output_folder, file_name)
    # 3. 输出为 CSV
    # index=False 避免保存 pandas 的行索引
    group.to_csv(file_path, index=False)
    
    print(f"已导出: {file_name}")

print(f"\n✅ 所有文件已成功保存至目录: {output_folder}")

已导出: activity_2016-03-12.csv
已导出: activity_2016-03-13.csv
已导出: activity_2016-03-14.csv
已导出: activity_2016-03-15.csv
已导出: activity_2016-03-16.csv
已导出: activity_2016-03-17.csv
已导出: activity_2016-03-18.csv
已导出: activity_2016-03-19.csv
已导出: activity_2016-03-20.csv
已导出: activity_2016-03-21.csv
已导出: activity_2016-03-22.csv
已导出: activity_2016-03-23.csv
已导出: activity_2016-03-24.csv
已导出: activity_2016-03-25.csv
已导出: activity_2016-03-26.csv
已导出: activity_2016-03-27.csv
已导出: activity_2016-03-28.csv
已导出: activity_2016-03-29.csv
已导出: activity_2016-03-30.csv
已导出: activity_2016-03-31.csv
已导出: activity_2016-04-01.csv
已导出: activity_2016-04-02.csv
已导出: activity_2016-04-03.csv
已导出: activity_2016-04-04.csv
已导出: activity_2016-04-05.csv
已导出: activity_2016-04-06.csv
已导出: activity_2016-04-07.csv
已导出: activity_2016-04-08.csv
已导出: activity_2016-04-09.csv
已导出: activity_2016-04-10.csv
已导出: activity_2016-04-11.csv
已导出: activity_2016-04-12.csv
已导出: activity_2016-04-13.csv
已导出: activity_2016-04-14.csv
已导出: activity_2016-04-15.csv
已导出: activity_2016-04-16.csv
已导出: activity_2016-04-17.csv
已导出: activity_2016-04-18.csv
已导出: activity_2016-04-19.csv
已导出: activity_2016-04-20.csv
已导出: activity_2016-04-21.csv
已导出: activity_2016-04-22.csv
已导出: activity_2016-04-23.csv
已导出: activity_2016-04-24.csv
已导出: activity_2016-04-25.csv
已导出: activity_2016-04-26.csv
已导出: activity_2016-04-27.csv
已导出: activity_2016-04-28.csv
已导出: activity_2016-04-29.csv
已导出: activity_2016-04-30.csv
已导出: activity_2016-05-01.csv
已导出: activity_2016-05-02.csv
已导出: activity_2016-05-03.csv
已导出: activity_2016-05-04.csv
已导出: activity_2016-05-05.csv
已导出: activity_2016-05-06.csv
已导出: activity_2016-05-07.csv
已导出: activity_2016-05-08.csv
已导出: activity_2016-05-09.csv
已导出: activity_2016-05-10.csv
已导出: activity_2016-05-11.csv
已导出: activity_2016-05-12.csv

✅ 所有文件已成功保存至目录: output/activity/

In [16]:
df_heartrate_part1 = pd.read_csv(data_folder1 + 'heartrate_seconds_merged.csv', header=0)
df_heartrate_part2 = pd.read_csv(data_folder2 + 'heartrate_seconds_merged.csv', header=0)

In [17]:
df_heartrate_part1.head(5)

           Id                 Time  Value
0  2022484408  4/1/2016 7:54:00 AM     93
1  2022484408  4/1/2016 7:54:05 AM     91
2  2022484408  4/1/2016 7:54:10 AM     96
3  2022484408  4/1/2016 7:54:15 AM     98
4  2022484408  4/1/2016 7:54:20 AM    100

In [18]:
df_heartrate_part2.head(5)

           Id                  Time  Value
0  2022484408  4/12/2016 7:21:00 AM     97
1  2022484408  4/12/2016 7:21:05 AM    102
2  2022484408  4/12/2016 7:21:10 AM    105
3  2022484408  4/12/2016 7:21:20 AM    103
4  2022484408  4/12/2016 7:21:25 AM    101

In [19]:
df_heartrate = pd.concat([df_heartrate_part1, df_heartrate_part2])

In [25]:
df_heartrate['Date'] = df_heartrate['Time'].dt.date
df_heartrate.head(5)

           Id                Time  Value        Date
0  2022484408 2016-04-01 07:54:00     93  2016-04-01
1  2022484408 2016-04-01 07:54:05     91  2016-04-01
2  2022484408 2016-04-01 07:54:10     96  2016-04-01
3  2022484408 2016-04-01 07:54:15     98  2016-04-01
4  2022484408 2016-04-01 07:54:20    100  2016-04-01

In [26]:
df_heartrate['Time'] = pd.to_datetime(
    df_heartrate['Time'], 
    format='%m/%d/%Y %I:%M:%S %p'
)

In [27]:
df_heartrate.sort_values('Time', ascending=True)

                 Id                Time  Value        Date
56922    2347167796 2016-03-29 00:00:05     69  2016-03-29
56923    2347167796 2016-03-29 00:00:10     68  2016-03-29
56924    2347167796 2016-03-29 00:00:20     69  2016-03-29
56925    2347167796 2016-03-29 00:00:35     69  2016-03-29
56926    2347167796 2016-03-29 00:00:50     69  2016-03-29
...             ...                 ...    ...         ...
1036649  4558609924 2016-05-12 16:19:25     73  2016-05-12
1036650  4558609924 2016-05-12 16:19:30     72  2016-05-12
1036651  4558609924 2016-05-12 16:19:40     76  2016-05-12
1036652  4558609924 2016-05-12 16:19:50     81  2016-05-12
1036653  4558609924 2016-05-12 16:20:00     76  2016-05-12

[3638339 rows x 4 columns]

In [28]:
import os
output_folder = "output/heartrate/"
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

# 2. 按照日期分组并循环
# 注意：确保 ActivityDate 已经是 datetime 类型，否则请先执行 pd.to_datetime
for date, group in df_heartrate.groupby('Date'):
    
    # 将日期转为字符串作为文件名 (例如: 2016-04-12.csv)
    file_name = f"heartrate_{date.strftime('%Y-%m-%d')}.csv"
    file_path = os.path.join(output_folder, file_name)
    # 3. 输出为 CSV
    # index=False 避免保存 pandas 的行索引
    group.to_csv(file_path, index=False)
    
    print(f"已导出: {file_name}")

print(f"\n✅ 所有文件已成功保存至目录: {output_folder}")

已导出: heartrate_2016-03-29.csv
已导出: heartrate_2016-03-30.csv
已导出: heartrate_2016-03-31.csv
已导出: heartrate_2016-04-01.csv
已导出: heartrate_2016-04-02.csv
已导出: heartrate_2016-04-03.csv
已导出: heartrate_2016-04-04.csv
已导出: heartrate_2016-04-05.csv
已导出: heartrate_2016-04-06.csv
已导出: heartrate_2016-04-07.csv
已导出: heartrate_2016-04-08.csv
已导出: heartrate_2016-04-09.csv
已导出: heartrate_2016-04-10.csv
已导出: heartrate_2016-04-11.csv
已导出: heartrate_2016-04-12.csv
已导出: heartrate_2016-04-13.csv
已导出: heartrate_2016-04-14.csv
已导出: heartrate_2016-04-15.csv
已导出: heartrate_2016-04-16.csv
已导出: heartrate_2016-04-17.csv
已导出: heartrate_2016-04-18.csv
已导出: heartrate_2016-04-19.csv
已导出: heartrate_2016-04-20.csv
已导出: heartrate_2016-04-21.csv
已导出: heartrate_2016-04-22.csv
已导出: heartrate_2016-04-23.csv
已导出: heartrate_2016-04-24.csv
已导出: heartrate_2016-04-25.csv
已导出: heartrate_2016-04-26.csv
已导出: heartrate_2016-04-27.csv
已导出: heartrate_2016-04-28.csv
已导出: heartrate_2016-04-29.csv
已导出: heartrate_2016-04-30.csv
已导出: heartrate_2016-05-01.csv
已导出: heartrate_2016-05-02.csv
已导出: heartrate_2016-05-03.csv
已导出: heartrate_2016-05-04.csv
已导出: heartrate_2016-05-05.csv
已导出: heartrate_2016-05-06.csv
已导出: heartrate_2016-05-07.csv
已导出: heartrate_2016-05-08.csv
已导出: heartrate_2016-05-09.csv
已导出: heartrate_2016-05-10.csv
已导出: heartrate_2016-05-11.csv
已导出: heartrate_2016-05-12.csv

✅ 所有文件已成功保存至目录: output/heartrate/

In [29]:
df_calories_part1 = pd.read_csv(data_folder1 + 'minuteCaloriesNarrow_merged.csv', header=0)
df_calories_part2 = pd.read_csv(data_folder2 + 'minuteCaloriesNarrow_merged.csv', header=0)

In [30]:
df_calories = pd.concat([df_calories_part1, df_calories_part2])

In [31]:
df_calories.head(5)

           Id         ActivityMinute  Calories
0  1503960366  3/12/2016 12:00:00 AM    0.7973
1  1503960366  3/12/2016 12:01:00 AM    0.7973
2  1503960366  3/12/2016 12:02:00 AM    0.7973
3  1503960366  3/12/2016 12:03:00 AM    0.7973
4  1503960366  3/12/2016 12:04:00 AM    0.7973

In [32]:
df_calories['ActivityMinute'] = pd.to_datetime(
    df_calories['ActivityMinute'], 
    format='%m/%d/%Y %I:%M:%S %p'
)

In [33]:
df_calories['Date'] = df_calories['ActivityMinute'].dt.date
df_calories.sort_values('Date', ascending= True)
df_calories.head(5)

           Id      ActivityMinute  Calories        Date
0  1503960366 2016-03-12 00:00:00    0.7973  2016-03-12
1  1503960366 2016-03-12 00:01:00    0.7973  2016-03-12
2  1503960366 2016-03-12 00:02:00    0.7973  2016-03-12
3  1503960366 2016-03-12 00:03:00    0.7973  2016-03-12
4  1503960366 2016-03-12 00:04:00    0.7973  2016-03-12

In [34]:
import os
output_folder = "output/calories/"
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

# 2. 按照日期分组并循环
# 注意：确保 ActivityDate 已经是 datetime 类型，否则请先执行 pd.to_datetime
for date, group in df_calories.groupby('Date'):
    
    # 将日期转为字符串作为文件名 (例如: 2016-04-12.csv)
    file_name = f"calories_{date.strftime('%Y-%m-%d')}.csv"
    file_path = os.path.join(output_folder, file_name)
    # 3. 输出为 CSV
    # index=False 避免保存 pandas 的行索引
    group.to_csv(file_path, index=False)
    
    print(f"已导出: {file_name}")

print(f"\n✅ 所有文件已成功保存至目录: {output_folder}")

已导出: calories_2016-03-12.csv
已导出: calories_2016-03-13.csv
已导出: calories_2016-03-14.csv
已导出: calories_2016-03-15.csv
已导出: calories_2016-03-16.csv
已导出: calories_2016-03-17.csv
已导出: calories_2016-03-18.csv
已导出: calories_2016-03-19.csv
已导出: calories_2016-03-20.csv
已导出: calories_2016-03-21.csv
已导出: calories_2016-03-22.csv
已导出: calories_2016-03-23.csv
已导出: calories_2016-03-24.csv
已导出: calories_2016-03-25.csv
已导出: calories_2016-03-26.csv
已导出: calories_2016-03-27.csv
已导出: calories_2016-03-28.csv
已导出: calories_2016-03-29.csv
已导出: calories_2016-03-30.csv
已导出: calories_2016-03-31.csv
已导出: calories_2016-04-01.csv
已导出: calories_2016-04-02.csv
已导出: calories_2016-04-03.csv
已导出: calories_2016-04-04.csv
已导出: calories_2016-04-05.csv
已导出: calories_2016-04-06.csv
已导出: calories_2016-04-07.csv
已导出: calories_2016-04-08.csv
已导出: calories_2016-04-09.csv
已导出: calories_2016-04-10.csv
已导出: calories_2016-04-11.csv
已导出: calories_2016-04-12.csv
已导出: calories_2016-04-13.csv
已导出: calories_2016-04-14.csv
已导出: calories_2016-04-15.csv
已导出: calories_2016-04-16.csv
已导出: calories_2016-04-17.csv
已导出: calories_2016-04-18.csv
已导出: calories_2016-04-19.csv
已导出: calories_2016-04-20.csv
已导出: calories_2016-04-21.csv
已导出: calories_2016-04-22.csv
已导出: calories_2016-04-23.csv
已导出: calories_2016-04-24.csv
已导出: calories_2016-04-25.csv
已导出: calories_2016-04-26.csv
已导出: calories_2016-04-27.csv
已导出: calories_2016-04-28.csv
已导出: calories_2016-04-29.csv
已导出: calories_2016-04-30.csv
已导出: calories_2016-05-01.csv
已导出: calories_2016-05-02.csv
已导出: calories_2016-05-03.csv
已导出: calories_2016-05-04.csv
已导出: calories_2016-05-05.csv
已导出: calories_2016-05-06.csv
已导出: calories_2016-05-07.csv
已导出: calories_2016-05-08.csv
已导出: calories_2016-05-09.csv
已导出: calories_2016-05-10.csv
已导出: calories_2016-05-11.csv
已导出: calories_2016-05-12.csv

✅ 所有文件已成功保存至目录: output/calories/

In [35]:
df_intensities_part1 = pd.read_csv(data_folder1 + 'minuteIntensitiesNarrow_merged.csv', header=0)
df_intensities_part2 = pd.read_csv(data_folder2 + 'minuteIntensitiesNarrow_merged.csv', header=0)

In [36]:
df_intensities = pd.concat([df_intensities_part1, df_intensities_part2])

In [37]:
df_intensities.head()

           Id         ActivityMinute  Intensity
0  1503960366  3/12/2016 12:00:00 AM          0
1  1503960366  3/12/2016 12:01:00 AM          0
2  1503960366  3/12/2016 12:02:00 AM          0
3  1503960366  3/12/2016 12:03:00 AM          0
4  1503960366  3/12/2016 12:04:00 AM          0

In [38]:
df_intensities['ActivityMinute'] = pd.to_datetime(df_intensities['ActivityMinute'], format='%m/%d/%Y %I:%M:%S %p')
df_intensities['Date'] = df_intensities['ActivityMinute'].dt.date
df_intensities.sort_values('Date', ascending= True)
df_intensities.head(5)

           Id      ActivityMinute  Intensity        Date
0  1503960366 2016-03-12 00:00:00          0  2016-03-12
1  1503960366 2016-03-12 00:01:00          0  2016-03-12
2  1503960366 2016-03-12 00:02:00          0  2016-03-12
3  1503960366 2016-03-12 00:03:00          0  2016-03-12
4  1503960366 2016-03-12 00:04:00          0  2016-03-12

In [39]:
import os
output_folder = "output/intensities/"
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

# 2. 按照日期分组并循环
# 注意：确保 ActivityDate 已经是 datetime 类型，否则请先执行 pd.to_datetime
for date, group in df_intensities.groupby('Date'):
    
    # 将日期转为字符串作为文件名 (例如: 2016-04-12.csv)
    file_name = f"intensities_{date.strftime('%Y-%m-%d')}.csv"
    file_path = os.path.join(output_folder, file_name)
    # 3. 输出为 CSV
    # index=False 避免保存 pandas 的行索引
    group.to_csv(file_path, index=False)
    
    print(f"已导出: {file_name}")

print(f"\n✅ 所有文件已成功保存至目录: {output_folder}")

已导出: intensities_2016-03-12.csv
已导出: intensities_2016-03-13.csv
已导出: intensities_2016-03-14.csv
已导出: intensities_2016-03-15.csv
已导出: intensities_2016-03-16.csv
已导出: intensities_2016-03-17.csv
已导出: intensities_2016-03-18.csv
已导出: intensities_2016-03-19.csv
已导出: intensities_2016-03-20.csv
已导出: intensities_2016-03-21.csv
已导出: intensities_2016-03-22.csv
已导出: intensities_2016-03-23.csv
已导出: intensities_2016-03-24.csv
已导出: intensities_2016-03-25.csv
已导出: intensities_2016-03-26.csv
已导出: intensities_2016-03-27.csv
已导出: intensities_2016-03-28.csv
已导出: intensities_2016-03-29.csv
已导出: intensities_2016-03-30.csv
已导出: intensities_2016-03-31.csv
已导出: intensities_2016-04-01.csv
已导出: intensities_2016-04-02.csv
已导出: intensities_2016-04-03.csv
已导出: intensities_2016-04-04.csv
已导出: intensities_2016-04-05.csv
已导出: intensities_2016-04-06.csv
已导出: intensities_2016-04-07.csv
已导出: intensities_2016-04-08.csv
已导出: intensities_2016-04-09.csv
已导出: intensities_2016-04-10.csv
已导出: intensities_2016-04-11.csv
已导出: intensities_2016-04-12.csv
已导出: intensities_2016-04-13.csv
已导出: intensities_2016-04-14.csv
已导出: intensities_2016-04-15.csv
已导出: intensities_2016-04-16.csv
已导出: intensities_2016-04-17.csv
已导出: intensities_2016-04-18.csv
已导出: intensities_2016-04-19.csv
已导出: intensities_2016-04-20.csv
已导出: intensities_2016-04-21.csv
已导出: intensities_2016-04-22.csv
已导出: intensities_2016-04-23.csv
已导出: intensities_2016-04-24.csv
已导出: intensities_2016-04-25.csv
已导出: intensities_2016-04-26.csv
已导出: intensities_2016-04-27.csv
已导出: intensities_2016-04-28.csv
已导出: intensities_2016-04-29.csv
已导出: intensities_2016-04-30.csv
已导出: intensities_2016-05-01.csv
已导出: intensities_2016-05-02.csv
已导出: intensities_2016-05-03.csv
已导出: intensities_2016-05-04.csv
已导出: intensities_2016-05-05.csv
已导出: intensities_2016-05-06.csv
已导出: intensities_2016-05-07.csv
已导出: intensities_2016-05-08.csv
已导出: intensities_2016-05-09.csv
已导出: intensities_2016-05-10.csv
已导出: intensities_2016-05-11.csv
已导出: intensities_2016-05-12.csv

✅ 所有文件已成功保存至目录: output/intensities/

In [43]:
df_METs_part1 = pd.read_csv(data_folder1 + 'minuteMETsNarrow_merged.csv', header=0)
df_METs_part2 = pd.read_csv(data_folder2 + 'minuteMETsNarrow_merged.csv', header=0)
df_METs = pd.concat([df_METs_part1, df_METs_part2])
df_METs.head()

           Id         ActivityMinute  METs
0  1503960366  3/12/2016 12:00:00 AM    10
1  1503960366  3/12/2016 12:01:00 AM    10
2  1503960366  3/12/2016 12:02:00 AM    10
3  1503960366  3/12/2016 12:03:00 AM    10
4  1503960366  3/12/2016 12:04:00 AM    10

In [44]:
df_METs['ActivityMinute'] = pd.to_datetime(df_METs['ActivityMinute'], format='%m/%d/%Y %I:%M:%S %p')
df_METs['Date'] = df_METs['ActivityMinute'].dt.date
df_METs.sort_values('Date', ascending= True)
df_METs.head(5)

           Id      ActivityMinute  METs        Date
0  1503960366 2016-03-12 00:00:00    10  2016-03-12
1  1503960366 2016-03-12 00:01:00    10  2016-03-12
2  1503960366 2016-03-12 00:02:00    10  2016-03-12
3  1503960366 2016-03-12 00:03:00    10  2016-03-12
4  1503960366 2016-03-12 00:04:00    10  2016-03-12

In [45]:
import os
output_folder = "output/METs/"
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

# 2. 按照日期分组并循环
# 注意：确保 ActivityDate 已经是 datetime 类型，否则请先执行 pd.to_datetime
for date, group in df_METs.groupby('Date'):
    
    # 将日期转为字符串作为文件名 (例如: 2016-04-12.csv)
    file_name = f"METs_{date.strftime('%Y-%m-%d')}.csv"
    file_path = os.path.join(output_folder, file_name)
    # 3. 输出为 CSV
    # index=False 避免保存 pandas 的行索引
    group.to_csv(file_path, index=False)
    
    print(f"已导出: {file_name}")

print(f"\n✅ 所有文件已成功保存至目录: {output_folder}")

已导出: METs_2016-03-12.csv
已导出: METs_2016-03-13.csv
已导出: METs_2016-03-14.csv
已导出: METs_2016-03-15.csv
已导出: METs_2016-03-16.csv
已导出: METs_2016-03-17.csv
已导出: METs_2016-03-18.csv
已导出: METs_2016-03-19.csv
已导出: METs_2016-03-20.csv
已导出: METs_2016-03-21.csv
已导出: METs_2016-03-22.csv
已导出: METs_2016-03-23.csv
已导出: METs_2016-03-24.csv
已导出: METs_2016-03-25.csv
已导出: METs_2016-03-26.csv
已导出: METs_2016-03-27.csv
已导出: METs_2016-03-28.csv
已导出: METs_2016-03-29.csv
已导出: METs_2016-03-30.csv
已导出: METs_2016-03-31.csv
已导出: METs_2016-04-01.csv
已导出: METs_2016-04-02.csv
已导出: METs_2016-04-03.csv
已导出: METs_2016-04-04.csv
已导出: METs_2016-04-05.csv
已导出: METs_2016-04-06.csv
已导出: METs_2016-04-07.csv
已导出: METs_2016-04-08.csv
已导出: METs_2016-04-09.csv
已导出: METs_2016-04-10.csv
已导出: METs_2016-04-11.csv
已导出: METs_2016-04-12.csv
已导出: METs_2016-04-13.csv
已导出: METs_2016-04-14.csv
已导出: METs_2016-04-15.csv
已导出: METs_2016-04-16.csv
已导出: METs_2016-04-17.csv
已导出: METs_2016-04-18.csv
已导出: METs_2016-04-19.csv
已导出: METs_2016-04-20.csv
已导出: METs_2016-04-21.csv
已导出: METs_2016-04-22.csv
已导出: METs_2016-04-23.csv
已导出: METs_2016-04-24.csv
已导出: METs_2016-04-25.csv
已导出: METs_2016-04-26.csv
已导出: METs_2016-04-27.csv
已导出: METs_2016-04-28.csv
已导出: METs_2016-04-29.csv
已导出: METs_2016-04-30.csv
已导出: METs_2016-05-01.csv
已导出: METs_2016-05-02.csv
已导出: METs_2016-05-03.csv
已导出: METs_2016-05-04.csv
已导出: METs_2016-05-05.csv
已导出: METs_2016-05-06.csv
已导出: METs_2016-05-07.csv
已导出: METs_2016-05-08.csv
已导出: METs_2016-05-09.csv
已导出: METs_2016-05-10.csv
已导出: METs_2016-05-11.csv
已导出: METs_2016-05-12.csv

✅ 所有文件已成功保存至目录: output/METs/

In [46]:
df_sleep_part1 = pd.read_csv(data_folder1 + 'minuteSleep_merged.csv', header=0)
df_sleep_part2 = pd.read_csv(data_folder2 + 'minuteSleep_merged.csv', header=0)
df_sleep = pd.concat([df_sleep_part1, df_sleep_part2])
df_sleep.head()

           Id                  date  value        logId
0  1503960366  3/13/2016 2:39:30 AM      1  11114919637
1  1503960366  3/13/2016 2:40:30 AM      1  11114919637
2  1503960366  3/13/2016 2:41:30 AM      1  11114919637
3  1503960366  3/13/2016 2:42:30 AM      1  11114919637
4  1503960366  3/13/2016 2:43:30 AM      1  11114919637

In [48]:
df_sleep['ActivityMinute'] = pd.to_datetime(df_sleep['date'], format='%m/%d/%Y %I:%M:%S %p')
df_sleep['Date'] = df_sleep['ActivityMinute'].dt.date
df_sleep.sort_values('Date', ascending= True)
df_sleep = df_sleep[['Id', 'ActivityMinute', 'value', 'logId', 'Date']]
df_sleep.head()

           Id      ActivityMinute  value        logId        Date
0  1503960366 2016-03-13 02:39:30      1  11114919637  2016-03-13
1  1503960366 2016-03-13 02:40:30      1  11114919637  2016-03-13
2  1503960366 2016-03-13 02:41:30      1  11114919637  2016-03-13
3  1503960366 2016-03-13 02:42:30      1  11114919637  2016-03-13
4  1503960366 2016-03-13 02:43:30      1  11114919637  2016-03-13

In [49]:
import os
output_folder = "output/sleep/"
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

# 2. 按照日期分组并循环
# 注意：确保 ActivityDate 已经是 datetime 类型，否则请先执行 pd.to_datetime
for date, group in df_sleep.groupby('Date'):
    
    # 将日期转为字符串作为文件名 (例如: 2016-04-12.csv)
    file_name = f"sleep_{date.strftime('%Y-%m-%d')}.csv"
    file_path = os.path.join(output_folder, file_name)
    # 3. 输出为 CSV
    # index=False 避免保存 pandas 的行索引
    group.to_csv(file_path, index=False)
    
    print(f"已导出: {file_name}")

print(f"\n✅ 所有文件已成功保存至目录: {output_folder}")

已导出: sleep_2016-03-11.csv
已导出: sleep_2016-03-12.csv
已导出: sleep_2016-03-13.csv
已导出: sleep_2016-03-14.csv
已导出: sleep_2016-03-15.csv
已导出: sleep_2016-03-16.csv
已导出: sleep_2016-03-17.csv
已导出: sleep_2016-03-18.csv
已导出: sleep_2016-03-19.csv
已导出: sleep_2016-03-20.csv
已导出: sleep_2016-03-21.csv
已导出: sleep_2016-03-22.csv
已导出: sleep_2016-03-23.csv
已导出: sleep_2016-03-24.csv
已导出: sleep_2016-03-25.csv
已导出: sleep_2016-03-26.csv
已导出: sleep_2016-03-27.csv
已导出: sleep_2016-03-28.csv
已导出: sleep_2016-03-29.csv
已导出: sleep_2016-03-30.csv
已导出: sleep_2016-03-31.csv
已导出: sleep_2016-04-01.csv
已导出: sleep_2016-04-02.csv
已导出: sleep_2016-04-03.csv
已导出: sleep_2016-04-04.csv
已导出: sleep_2016-04-05.csv
已导出: sleep_2016-04-06.csv
已导出: sleep_2016-04-07.csv
已导出: sleep_2016-04-08.csv
已导出: sleep_2016-04-09.csv
已导出: sleep_2016-04-10.csv
已导出: sleep_2016-04-11.csv
已导出: sleep_2016-04-12.csv
已导出: sleep_2016-04-13.csv
已导出: sleep_2016-04-14.csv
已导出: sleep_2016-04-15.csv
已导出: sleep_2016-04-16.csv
已导出: sleep_2016-04-17.csv
已导出: sleep_2016-04-18.csv
已导出: sleep_2016-04-19.csv
已导出: sleep_2016-04-20.csv
已导出: sleep_2016-04-21.csv
已导出: sleep_2016-04-22.csv
已导出: sleep_2016-04-23.csv
已导出: sleep_2016-04-24.csv
已导出: sleep_2016-04-25.csv
已导出: sleep_2016-04-26.csv
已导出: sleep_2016-04-27.csv
已导出: sleep_2016-04-28.csv
已导出: sleep_2016-04-29.csv
已导出: sleep_2016-04-30.csv
已导出: sleep_2016-05-01.csv
已导出: sleep_2016-05-02.csv
已导出: sleep_2016-05-03.csv
已导出: sleep_2016-05-04.csv
已导出: sleep_2016-05-05.csv
已导出: sleep_2016-05-06.csv
已导出: sleep_2016-05-07.csv
已导出: sleep_2016-05-08.csv
已导出: sleep_2016-05-09.csv
已导出: sleep_2016-05-10.csv
已导出: sleep_2016-05-11.csv
已导出: sleep_2016-05-12.csv

✅ 所有文件已成功保存至目录: output/sleep/

In [50]:
df_steps_part1 = pd.read_csv(data_folder1 + 'minuteStepsNarrow_merged.csv', header=0)
df_steps_part2 = pd.read_csv(data_folder2 + 'minuteStepsNarrow_merged.csv', header=0)
df_steps = pd.concat([df_steps_part1, df_steps_part2])
df_steps.head()

           Id         ActivityMinute  Steps
0  1503960366  3/12/2016 12:00:00 AM      0
1  1503960366  3/12/2016 12:01:00 AM      0
2  1503960366  3/12/2016 12:02:00 AM      0
3  1503960366  3/12/2016 12:03:00 AM      0
4  1503960366  3/12/2016 12:04:00 AM      0

In [51]:
df_steps['ActivityMinute'] = pd.to_datetime(df_steps['ActivityMinute'], format='%m/%d/%Y %I:%M:%S %p')
df_steps['Date'] = df_steps['ActivityMinute'].dt.date
df_steps.sort_values('Date', ascending= True)
df_steps.head(5)

           Id      ActivityMinute  Steps        Date
0  1503960366 2016-03-12 00:00:00      0  2016-03-12
1  1503960366 2016-03-12 00:01:00      0  2016-03-12
2  1503960366 2016-03-12 00:02:00      0  2016-03-12
3  1503960366 2016-03-12 00:03:00      0  2016-03-12
4  1503960366 2016-03-12 00:04:00      0  2016-03-12

In [52]:
import os
output_folder = "output/steps/"
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

# 2. 按照日期分组并循环
# 注意：确保 ActivityDate 已经是 datetime 类型，否则请先执行 pd.to_datetime
for date, group in df_steps.groupby('Date'):
    
    # 将日期转为字符串作为文件名 (例如: 2016-04-12.csv)
    file_name = f"steps_{date.strftime('%Y-%m-%d')}.csv"
    file_path = os.path.join(output_folder, file_name)
    # 3. 输出为 CSV
    # index=False 避免保存 pandas 的行索引
    group.to_csv(file_path, index=False)
    
    print(f"已导出: {file_name}")

print(f"\n✅ 所有文件已成功保存至目录: {output_folder}")

已导出: steps_2016-03-12.csv
已导出: steps_2016-03-13.csv
已导出: steps_2016-03-14.csv
已导出: steps_2016-03-15.csv
已导出: steps_2016-03-16.csv
已导出: steps_2016-03-17.csv
已导出: steps_2016-03-18.csv
已导出: steps_2016-03-19.csv
已导出: steps_2016-03-20.csv
已导出: steps_2016-03-21.csv
已导出: steps_2016-03-22.csv
已导出: steps_2016-03-23.csv
已导出: steps_2016-03-24.csv
已导出: steps_2016-03-25.csv
已导出: steps_2016-03-26.csv
已导出: steps_2016-03-27.csv
已导出: steps_2016-03-28.csv
已导出: steps_2016-03-29.csv
已导出: steps_2016-03-30.csv
已导出: steps_2016-03-31.csv
已导出: steps_2016-04-01.csv
已导出: steps_2016-04-02.csv
已导出: steps_2016-04-03.csv
已导出: steps_2016-04-04.csv
已导出: steps_2016-04-05.csv
已导出: steps_2016-04-06.csv
已导出: steps_2016-04-07.csv
已导出: steps_2016-04-08.csv
已导出: steps_2016-04-09.csv
已导出: steps_2016-04-10.csv
已导出: steps_2016-04-11.csv
已导出: steps_2016-04-12.csv
已导出: steps_2016-04-13.csv
已导出: steps_2016-04-14.csv
已导出: steps_2016-04-15.csv
已导出: steps_2016-04-16.csv
已导出: steps_2016-04-17.csv
已导出: steps_2016-04-18.csv
已导出: steps_2016-04-19.csv
已导出: steps_2016-04-20.csv
已导出: steps_2016-04-21.csv
已导出: steps_2016-04-22.csv
已导出: steps_2016-04-23.csv
已导出: steps_2016-04-24.csv
已导出: steps_2016-04-25.csv
已导出: steps_2016-04-26.csv
已导出: steps_2016-04-27.csv
已导出: steps_2016-04-28.csv
已导出: steps_2016-04-29.csv
已导出: steps_2016-04-30.csv
已导出: steps_2016-05-01.csv
已导出: steps_2016-05-02.csv
已导出: steps_2016-05-03.csv
已导出: steps_2016-05-04.csv
已导出: steps_2016-05-05.csv
已导出: steps_2016-05-06.csv
已导出: steps_2016-05-07.csv
已导出: steps_2016-05-08.csv
已导出: steps_2016-05-09.csv
已导出: steps_2016-05-10.csv
已导出: steps_2016-05-11.csv
已导出: steps_2016-05-12.csv

✅ 所有文件已成功保存至目录: output/steps/

In [64]:
df_weight_part1 = pd.read_csv(data_folder1 + 'weightLogInfo_merged.csv', header=0)
df_weight_part2 = pd.read_csv(data_folder2 + 'weightLogInfo_merged.csv', header=0)
df_weight = pd.concat([df_weight_part1, df_weight_part2])
df_weight.head()

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId
0,1503960366,4/5/2016 11:59:59 PM,53.299999,117.506384,22.0,22.969999,True,1459900799000
1,1927972279,4/10/2016 6:33:26 PM,129.600006,285.719105,NaN,46.169998,False,1460313206000
2,2347167796,4/3/2016 11:59:59 PM,63.400002,139.773078,10.0,24.770000,True,1459727999000
3,2873212765,4/6/2016 11:59:59 PM,56.700001,125.002104,NaN,21.450001,True,1459987199000
4,2873212765,4/7/2016 11:59:59 PM,57.200001,126.104416,NaN,21.650000,True,1460073599000

In [66]:
df_weight['ActivityMinute'] = pd.to_datetime(df_weight['Date'], format='%m/%d/%Y %I:%M:%S %p')
df_weight['Date'] = df_weight['ActivityMinute'].dt.date
df_weight = df_weight.sort_values('Date', ascending= True)
df_weight.head()

,Id,Date,WeightKg,WeightPounds,Fat,BMI,IsManualReport,LogId,ActivityMinute
6,4445114986,2016-03-30,92.400002,203.707134,NaN,35.009998,True,1459382399000,2016-03-30 23:59:59
9,6962181067,2016-03-30,61.500000,135.584291,NaN,24.030001,True,1459382399000,2016-03-30 23:59:59
10,6962181067,2016-03-31,61.500000,135.584291,NaN,24.030001,True,1459468799000,2016-03-31 23:59:59
24,8877689391,2016-04-01,85.500000,188.495234,NaN,25.610001,False,1459493380000,2016-04-01 06:49:40
11,6962181067,2016-04-01,60.900002,134.261521,NaN,23.780001,True,1459555199000,2016-04-01 23:59:59

In [67]:
import os
output_folder = "output/weight/"
if not os.path.exists(output_folder):
    os.makedirs(output_folder)

# 2. 按照日期分组并循环
# 注意：确保 ActivityDate 已经是 datetime 类型，否则请先执行 pd.to_datetime
for date, group in df_weight.groupby('Date'):
    
    # 将日期转为字符串作为文件名 (例如: 2016-04-12.csv)
    file_name = f"weight_{date.strftime('%Y-%m-%d')}.csv"
    file_path = os.path.join(output_folder, file_name)
    # 3. 输出为 CSV
    # index=False 避免保存 pandas 的行索引
    group.to_csv(file_path, index=False)
    
    print(f"已导出: {file_name}")

print(f"\n✅ 所有文件已成功保存至目录: {output_folder}")

已导出: weight_2016-03-30.csv
已导出: weight_2016-03-31.csv
已导出: weight_2016-04-01.csv
已导出: weight_2016-04-02.csv
已导出: weight_2016-04-03.csv
已导出: weight_2016-04-04.csv
已导出: weight_2016-04-05.csv
已导出: weight_2016-04-06.csv
已导出: weight_2016-04-07.csv
已导出: weight_2016-04-08.csv
已导出: weight_2016-04-09.csv
已导出: weight_2016-04-10.csv
已导出: weight_2016-04-11.csv
已导出: weight_2016-04-12.csv
已导出: weight_2016-04-13.csv
已导出: weight_2016-04-14.csv
已导出: weight_2016-04-15.csv
已导出: weight_2016-04-16.csv
已导出: weight_2016-04-17.csv
已导出: weight_2016-04-18.csv
已导出: weight_2016-04-19.csv
已导出: weight_2016-04-20.csv
已导出: weight_2016-04-21.csv
已导出: weight_2016-04-22.csv
已导出: weight_2016-04-23.csv
已导出: weight_2016-04-24.csv
已导出: weight_2016-04-25.csv
已导出: weight_2016-04-26.csv
已导出: weight_2016-04-27.csv
已导出: weight_2016-04-28.csv
已导出: weight_2016-04-29.csv
已导出: weight_2016-04-30.csv
已导出: weight_2016-05-01.csv
已导出: weight_2016-05-02.csv
已导出: weight_2016-05-03.csv
已导出: weight_2016-05-04.csv
已导出: weight_2016-05-05.csv
已导出: weight_2016-05-06.csv
已导出: weight_2016-05-07.csv
已导出: weight_2016-05-08.csv
已导出: weight_2016-05-09.csv
已导出: weight_2016-05-10.csv
已导出: weight_2016-05-11.csv
已导出: weight_2016-05-12.csv

✅ 所有文件已成功保存至目录: output/weight/